*{
    margin: 0;
    padding: 0;
}

svg .bar {
    display: inline-block;
    background-color: blueviolet;
}

svg {
    margin-left: 10px;
}

.xAxis path,
.xAxis line,
.yAxis path,
.yAxis line
{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
